*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'ProximaNova-Black';
  src: local('ProximaNova-Black'), url('https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff') format('woff'), url('https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2') format('woff2');
}
body {
  background: #070506 url(/img_min/main-bg.jpg) top right -190% no-repeat;
  background-size: contain;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
.container {
  max-width: 1160px;
  width: 90%;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.header .logo {
  margin-right: 71px;
}
.nav__link {
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.nav__link:not(:last-child) {
  margin-right: 15px;
}
.hero {
  margin-top: 78px;
}
.hero__subtitle {
  font-family: 'ProximaNova-Black';
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 5px;
}
.hero__title {
  font-family: 'ProximaNova-Black';
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 25px;
}
.hero__description {
  font-size: 18px;
  line-height: 150%;
  color: #AFAFAF;
  margin-bottom: 25px;
  max-width: 570px;
}
.hero__premiere {
  display: block;
  font-size: 18px;
  line-height: 150%;
  color: #B02000;
  margin-bottom: 5px;
}
.hero__date {
  display: block;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 70px;
}
.hero__button-play {
  display: inline-block;
  background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
  border-radius: 300px;
  padding: 25px 87px 25px 34px;
  border: none;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 50px;
}
.hero__button-play::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 65px;
  background: #FFFFFF url('/img_min/play.svg') no-repeat center;
  border-radius: 50%;
}
.hero__button-play::before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.episodes__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 25px;
}
.slider {
  display: flex;
  flex-wrap: wrap;
}
.slider__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 200px;
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 25px;
  z-index: 2;
  position: relative;
}
.slider__item:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.86);
  z-index: -1;
}
.slider__item:hover:after {
  background: rgba(64, 101, 255, 0.86);
}
.slider__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.slider__year {
  font-size: 18px;
  line-height: 150%;
}
.slider__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
}
.slider__rating {
  font-size: 13px;
  line-height: 150%;
}
.slider__rating-label {
  margin-right: 15px;
}
.slider .star {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent url('/img_min/star.svg') no-repeat center;
}
.slider .star-o {
  background: transparent url('/img_min/star-o.svg') no-repeat center;
}
.slider__nav-left {
  border: none;
  width: 32px;
  height: 32px;
  background: transparent url('/img_min/left-arrow.svg');
  margin-right: 15px;
}
.slider__nav-left span,
.slider__nav-right span {
  display: none;
}
.slider__nav-right {
  border: none;
  width: 32px;
  height: 32px;
  background: transparent url('/img_min/right-arrow.svg');
}
@media (max-width: 620px) {
  .hero__subtitle {
    font-size: 32px;
  }
  .hero__title {
    font-size: 45px;
  }
  .hero__description {
    font-size: 15px;
  }
}
